body {
  font-family: 'Exo', sans-serif;
}
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/*DIV Orange */
.orange {
  width: 100%;
  background-color: #FA6938;
  height: 43px;
}

.orange ul {
  margin: 0px 85px;

}

.orange li {
  display: inline-block;
  color: #FFFFFF;
  text-shadow: 1px 1px #CA5423;
  padding: 5px 7px;
  margin-top: 8px;


}
.orange li:hover {
  display: inline-block;
  background-color: #C95323;
  border-radius: 3px;
}

.orange span {
  font-size: 14px;
}

/*Bottom Border*/
.one {
  border-image-source: url("images/perforated-bottom@2x.png");
  padding-bottom: 22px;
  border-image-slice: 10 27 10 16;
  border-image-width: 0px 0px 6px 0px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: repeat stretch;
  position: relative;
}

/*DIV Logo and Links*/

 .logo {
  float: left;
  width: 140px;
  margin-left: 122px;

}
.links {
  margin-left: 40px;
}

.links, .links li {
  display: inline-block;
  font-size: 28px;
  padding-top: 10px;
  padding-right: 20px;
  font-weight: 100;
}


/*Little Grey Triangles*/
.links li:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: #E0E0E0 transparent transparent transparent;
  content: "";
  position: absolute;
  bottom: 42px;
  margin-left: -88px;
}

.links .trione:after {
  left: 487px;
}
.links .tritwo:after {
  left: 614px;
}
.links .trithree:after {
  left: 710px;
}
.links .trifour:after {
  left: 812px;
}
.links .trifive:after {
  left: 923px;
}



/*DIV Form*/

.form {
  float: right;
  padding-top: 6px;
  margin-right: 110px;
}

.form-text {
  text-align: right;
}

.form-text p {
  display: inline-block;
  padding-left: 10px;
  font-size: 12px;
  color: #969696;
}

.form-two-cart, .form-two-search, .form-two-cart-pic, .form-two-cart p {
  display: inline-block;
}

.form-two p {
  margin: 0;
  color: #646464;
  margin-top: 9px;
  margin-left: 3px;
  font-size: 15px;
}



/*Cart&Search Box*/

.form-two-cart {
  border: 1px solid #E1E1E1;
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 35px;
  text-align: center;
  border-radius: 2px;
}

.register input {
  width: 135px;
  height: 25px;
  border-radius: 2px;
  border: 1px solid #DCDCDC;
  margin-left: 15px;
  padding-left: 30px;
  box-shadow: 0px 0px 0px 4px #f4f4f4;

}


.form-two-zero {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: #C8C8C8;
  position: relative;
  border-radius: 3px;
  margin-left: 5px;
  font-size: 14px;
}

.form-two-zero:before {
  content:"";
  position: absolute;
  right: 100%;
  top: 7px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-right: 5px solid #C8C8C8;
  border-bottom: 4px solid transparent;
}

.form-two-zero p {
  color: #F5F5F5;
  margin-top: 3px;
  margin-left: -1px;
}

.point {
  position: absolute;
  top: 56px;
  right: 255px;
}
/*SPRITES*/

.form-two-cart-pic {
  background: url('images/sprite@2x.png') no-repeat -45px -1px;
  background-size: 400px 200px;
  width: 14px;
  height: 12px;
}

.point {
  background: url('images/sprite@2x.png') no-repeat -15px 0;
  background-size: 400px 200px;
  width: 13px;
  height: 13px;
}

.facebook {
  background: url('images/sprite@2x.png') no-repeat -270px 0;
  background-size: 400px 200px;
  width: 35px;
  height: 35px;
}

.pin {
  background: url('images/sprite@2x.png') no-repeat -270px -40px;
  background-size: 400px 200px;
  width: 35px;
  height: 35px;
}

.twitter {
  background: url('images/sprite@2x.png') no-repeat -270px -80px;
  background-size: 400px 200px;
  width: 35px;
  height: 35px;
}

/*DIV Tie Picture*/

.ties {
  background-color: #F4F4F4;
  border-bottom: 1px solid #EBEBEB;
  

}

.ties img {
 width: 85px;
}

.ties ul {
  display: inline-block;
  margin-top: -5px;
  text-align: center;
  padding-left: 25px;
}


li.ties-full-text {
  padding-top: 15px;
}

.ties-full {
  text-align: center;
}

.ties-full p {
  font-size: 65px;
  margin-top: 65px;
  margin-left: 35px;
}

/*Three Image DIV*/

.three {
  padding-bottom: 90px;
}

.three-images-bow, .three-images-pocket, .three-images-tie {
  display: inline-block;
  padding-right: 20px;
}

.three-images-bow img, .three-images-pocket img, .three-images-tie img{
  border: 1px solid #EDECED;
  width: 380px;
}

.three-images-bow p, .three-images-pocket p, .three-images-tie p {
  position: absolute;
  font-weight: bold;
  font-size: 24px;
  top: 685px;

}

.three-images-bow p {
  left: 334px;
}
.three-images-pocket p {
  text-align: right;
  left: 750px;
}
.three-images-tie p {
  left: 1155px;
}

.seperate-text {
  text-align: center;
  margin-top: 85px;
}

.seperate-text p {
  font-size: 38px;
  font-weight: 100;
  margin-bottom: 30px;
  line-height: 54px;

}

.seperate-text a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #029DFF;

}

.three-images {
  text-align: center;
  margin-top: 60px; 
}

/*Four Columns*/ 

.four-columns {
    font-size: 15px;
    font-weight: inherit;
    text-align: center;
    display: inline-flex;
    padding-left: 90px;
    padding-right: 75px;
    margin-top: 32px;
    padding-bottom: 35px;
    border-image-source: url("images/perforated-bottom@2x.png");
    border-image-slice: 10 27 10 16;
    border-image-width: 0px 0px 6px 0px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: repeat stretch;

}

.column-one, .column-two, .column-three, .column-four {
  display: inline-block;
  text-align: left;
  padding-right: 35px;
  width: 265px;

}

.column-one-a a, .column-four-p a {
  text-decoration: none;
  font-weight: inherit;
  color: #029DFF;
  line-height: 22px;
}

.four-columns img {
  border: 1px solid #EDECED;
  margin-top: -7px;
  margin-bottom: 4px;
  width: 255px;
}

.column-two p, .column-three p {
  margin-top: -7px;
}


.four-columns h3 {
  font-size: 20px;
}

/*Column Two*/

.facebook, .pin, .twitter {
  display: inline-block;
  padding-right: 8px;

}

/*Column Three*/
.column-three-input input {
    width: 195px;
    height: 33px;
    border-radius: 2px;
    border: 1px solid #DCDCDC;
    padding-left: 10px;
    box-shadow: 0px 0px 0px 4px #f4f4f4;
    font-size: 15px;
    font-weight: 100;
    margin-top: 9px;
}

.column-three-button button {
    width: 110px;
    height: 30px;
    background-color: #33A1FF;
    font-weight: 400;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 12px;
    margin-top: 14px;
}

/*Column Four*/
.top-text {
  margin-top: 0;
  font-size: 14px;

}

/*FOOOTER*/

.footer {
  background-color: #F4F4F4;
  margin-top: -3px;
  height: 265px;
}

.col-one, .col-two, .col-three, .col-four {
  display: inline-flex;
  margin-top: 18px;
}
.col-one {
  margin-left: 90px;
}

.col-one ul {
  padding-left: 0;
}

.copyright p {
  margin-left: 90px;
  margin-top: 26px;
}

.copyright p > span {
  padding-left: 20px;
}

.footer li {
  padding-bottom: 4px;
  color: #939393;
}

li.list-head-one, li.list-head-two, li.list-head-three, li.list-head-four {
  padding-bottom: 8px;
  color: black;
  font-weight: bold;
}

.footer-box {
  width: 350px;
  height: 136px;
  background-color: #A2AFC0;
  border-radius: 3px;
  border: 1px solid #96A3B2;
  position: absolute;
  top: 1642px;
  right: 120px;
}


.title-text {
  font-size: 26px;
  font-weight: 100;
}

.help-text {
  font-size: 18px;
  font-weight: 100;
}

.numbers-text {
  font-size: 22px;
  font-weight: 100;
}

.footer-box p {
  display: inline-block;
  color: white;
  font-weight: 100;
  margin-left: 18px;
  line-height: 26px;
  margin-bottom: -2px;
}
.footer-box button {
  background-color: #33A1FF;
  border: 1px solid #1A8ADE;
  color: white;
  border-radius: 3px;
  width: 115px;
  height: 40px;
  font-size: 18px;
  font-weight: 100;
  margin-left: 12px;

}

.copyright p {
  font-size: 12px;
  color: #949494;
}

.gravity {
    border-bottom: 1px dotted #949494;
    color: #949494;
    text-decoration: none;
}

