body {
  /*border: 1px solid black;*/
}
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/*DIV Orange */
.orange {
  width: 100%;
  background-color: #FA6938;
}

.orange ul {
  height: 75px;
  margin: 0px;
  position: relative;
  top: 7px;
  margin-left: 170px;

}

.orange li {
  display: inline-block;
  color: #FFFFFF;
  text-shadow: 1px 1px #CA5423;
  font-size: 30px;
  padding: 10px 15px;
  top: 1px;
  margin-left: 25px;

}
.orange li:hover {
  display: inline-block;
  background-color: #C95323;
  border-radius: 7px;
}

.orange span {
  font-size: 25px;
}

/*Bottom Border*/
.one {
  border-image-source: url("images/perforated-bottom@2x.png");
  padding-bottom: 45px;
  border-image-slice: 10 27 10 16;
  border-image-width: 0px 0px 10px 0px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: repeat stretch;
  position: relative;
}

/*DIV Logo and Links*/

 .logo {
  float: left;
  padding-left: 80px;
  margin-left: 140px;
}

.links, .links li {
  display: inline-block;
  font-size: 50px;
  padding-right: 50px;
}
.links ul {
  margin-top: 90px;
  margin-left: 95px;

}

/*Little Grey Triangles*/
.links li:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: #E0E0E0 transparent transparent transparent;
  content: "";
  position: absolute;
  bottom: 75px;
  margin-left: -88px;
}



/*DIV Form*/

.form {
  float: right;
  margin-right: 475px;
}

.form-text {
  text-align: right;
  padding-top: 15px;
  margin-bottom: -25px;
}

.form-text p {
  display: inline-block;
  padding-left: 25px;
  font-size: 23px;
}

.form-two-cart, .form-two-search {
  display: inline-block;
}

.form-two-cart {
  width: 200px;
  height: 75px;
  text-align: center;
}

.form-two p {
  margin: 0;
}

.form-two-cart {
  display: inline-block;
  font-size: 30px;
}
input {
  width: 350px;
  height: 60px;
}

/*SPRITES*/

.form-two-cart-pic {
  background: url('images/sprite@2x.png') no-repeat -45px -1px;
  background-size: 400px 200px;
  width: 14px;
  height: 12px;
}

.point {
  background: url('images/sprite@2x.png') no-repeat -15px 0;
  background-size: 400px 200px;
  width: 13px;
  height: 13px;
}




/*Cart Box*/

.form-two-cart {
  border: 1px solid grey;
  display: inline-block;
}

/*DIV Tie Picture*/

.ties {
  background-color: #F4F4F4;
  height: 850px;
}

.ties ul {
  display: inline-block;
  margin-top: -4px;
  text-align: center;
  padding-left: 50px;
}

.ties-full {
  margin-left: 340px;
}

.ties-full img {
  width: 170px;
}

li.ties-full-text {
  font-size: xx-large;
  padding-top: 30px;
}

.ties-full p {
  font-size: 130px;
}

/*Three Image DIV*/

.three, .three-bow, .three-pocket, .three-tie {
  display: inline-block;
}

.seperate-text {
  text-align: center;
}

.three {
  
}